<%-include('../partials/header')%>
    <%-include('../partials/navbar')%>
    <%-include('../partials/flash')%>



        <div class="container mt-5 mb-4">
            <h2 class="text-center mb-4">New User Registration</h2>
            <div class="row mt-5">
                <div class="col-md-6 offset-md-3">
                    <!-- Registration Form -->
                    <form id="registrationForm" action="/login/register" method="POST">
                        <div class="mb-3 form-group">
                            <label class="mb-2" for="name">Name</label>
                            <input type="text" class="form-control form-control-sm" id="name"
                                placeholder="Enter your name" name="name">
                        </div>
                        <div class="mb-3 form-group">
                            <label class="mb-2" for="email">Email address</label>
                            <input type="email" class="form-control form-control-sm" id="email"
                                placeholder="Enter your email" name="email">
                        </div>
                        <div class="mb-3 form-group">
                            <label class="mb-2" for="username">Enter Username</label>
                            <input type="text" class="form-control form-control-sm" id="username"
                                placeholder="Enter your username" name="username">
                        </div>
                        <div class="mb-3 form-group">
                            <label class="mb-2" for="phone">Phone number</label>
                            <input type="text" class="form-control form-control-sm" id="phone"
                                placeholder="Enter your phone number" name="phone">
                        </div>
                        <div class="mb-3 form-group">
                            <label class="mb-2" for="password">Password</label>
                            <input type="password" class="form-control form-control-sm" id="password"
                                placeholder="Enter your passsword" name="password"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()-_+=])[A-Za-z\d!@#$%^&*()-_+=]{8,}$">
                        </div>
                        <div class="mb-3">
                        <button type="submit" class="d-block btn btn-primary">Submit</button>
                    </div>
                </form>
                <a href="/login" class="btn btn-link">Already have an account?</a>
                </div>
            </div>
        </div>
        <%-include('../partials/footer')%>